/* background website color */
.container-fluid {
    background-color: black;
}

.back-img {
    background-image: url("https://ak3.picdn.net/shutterstock/videos/8335423/thumb/1.jpg");
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rtcol {
    display: flex; 
    justify-content: end;
   
}

/* .jumbotron {
    background-color: rgba(169, 211, 174, 0.726);
} */

.name {
    color: rgb(172, 184, 175);
    font-family: impact;
    font-weight: bold;
    /* text :rgb(5, 110, 2); */
    text-shadow: 4px 6px rgb(7, 7, 7);
}

.un-constr {
    background-image: url("http://moziru.com/images/stripe-clipart-caution-16.jpg");
}

.const-bg {
    background-color: black;
}

.const-words {
    color: rgb(234, 250, 6);
    font-weight: bold;
    font-stretch: expanded;
    font-family: monospace;
    text-shadow: 2px 2px 2px rgb(92, 94, 73);
}

/* .row1 {} */

.objective {
    background-color: rgb(92, 94, 73, 0.2);
    color: rgb(144, 156, 146);
    text-shadow: 2px 2px 2px rgb(5, 110, 2);
    padding-left: 40px;
}

.objCont {
    padding-left: 30px;
}

/* .row2 {} */

.highlights {
    background-color: rgb(92, 94, 73, 0.2);
    color: rgb(144, 156, 146);
    text-shadow: 2px 2px 2px rgb(5, 110, 2);
    padding-left: 40px;
}

.objContHOQ {
    padding-left: 30px;
}

.row3 {
    display: flex;
}

.tech {
    background-color: rgb(92, 94, 73, 0.2);
    color: rgb(144, 156, 146);
    text-shadow: 2px 2px 2px rgb(5, 110, 2);
    padding-left: 40px;
}

.ttb {
    background-color: rgb(144, 156, 146);
}

.sttb {
    background-color: black;
}

.footer {
    background-color: black;
    min-height: 10px;
}